<div class="header clearfix text-center">
    <h1 class="text-muted">Club List</h1>
</div>
<div class="row">
    <div class="col col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">Club List</div>
            <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Building Name</th>
                        <th>Building Number</th>
                        <th>City</th>
                        <th>Club Name</th>
                        <th>Phone<</th>
                        <th>Street</th>
                        <th>Remove</th>
                        <th>Update</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="place in club">
                        <td>{{place.buildingName}}</td>
                        <td>{{place.buildingNumber}}</td>
                        <td>{{place.city}}</td>
                        <td>{{place.name}}</td>
                        <td>{{place.phone}}</td>
                        <td>{{place.street}}</td>
                        <td>
                            <button ng-click="remove(place)">Remove</button>
                        </td>
                        <td>
                            <button ng-click="updateMode(place)">Edit</button>
                        </td>
                        <td>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>